type hal_fod_grus, coredomain, domain;
hal_server_domain(hal_fod_grus, hal_lineage_fod)

type hal_fod_grus_exec, exec_type, file_type;
init_daemon_domain(hal_fod_grus)
